version: "3.8"

services:
  db:
    image: aidocuminesacr.azurecr.io/aidocumines_postgres:latest
    restart: unless-stopped
    ports:
      - "5433:5432"
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}

  redis:
    image: aidocuminesacr.azurecr.io/aidocumines_redis:latest
    restart: unless-stopped
    command: redis-server --appendonly yes --save 60 1 --loglevel warning --protected-mode no
    ports:
      - "6379:6379"

  web:
    image: aidocuminesacr.azurecr.io/aidocumines_web:latest
    restart: unless-stopped
    command: /app/entrypoint.sh
    ports:
      - "8020:8020"
    env_file:
      - .env

  celery:
    image: aidocuminesacr.azurecr.io/aidocumines_celery:latest
    restart: unless-stopped
    command: /app/entrypoint.sh
    env_file:
      - .env

  celery_beat:
    image: aidocuminesacr.azurecr.io/aidocumines_celery_beat:latest
    restart: unless-stopped
    command: /app/entrypoint.sh
    env_file:
      - .env

  file_monitor:
    image: aidocuminesacr.azurecr.io/aidocumines_file_monitor:latest
    restart: unless-stopped
    command: /usr/bin/supervisord -c /etc/supervisor/conf.d/supervisord.conf
    env_file:
      - .env

  redis_watchdog:
    image: aidocuminesacr.azurecr.io/aidocumines_redis_watchdog:latest
    restart: unless-stopped
    command: sh -c "pip install redis && python /watchdog/redis_watchdog.py"

  ollama:
    image: aidocuminesacr.azurecr.io/aidocumines_ollama:latest
    restart: unless-stopped
    ports:
      - "11434:11434"

networks:
  default:
    driver: bridge

